@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  background: #f0f0f0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-sky-600 hover:text-sky-700;
}
